@page "/login"
@layout EmptyLayout
@using SimpleExpenseManagement.UI.Models.Authentication
@inject SimpleExpenseManagement.UI.Authentication.IAuthenticationService AuthService
@inject NavigationManager NavManager
@using Lookif.UI.Component.JS
@using Newtonsoft.Json
@attribute [AllowAnonymous]
@using SimpleExpenseManagement.UI.Resources.LoginRelated;
@inject IStringLocalizer<LoginRelatedResource> Localizer

@using System.Globalization



<div class="IranSansBold d-flex flex-row" style=" height: 100vh; width: 100vw;direction:rtl">

    <div class="d-flex Login flex-column pl-4">
       <div class="d-flex Login flex-column bg-white shadow-sm rounded">
            <p class="my-3 Title">

            @Localizer["Title"]

        </p>
        <EditForm Model=_model OnValidSubmit="ExecuteLogin" class="validate-form LoginForm">
            @if (ShowAuthenticationError)
            {
                <div class="alert alert-danger" role="alert">
                    <p>@authenticationErrorText</p>
                </div>
            }
            <div class="LoginForm mb-3">
                <div class="validate-input LoginInput">

                    <InputText class="form-control  " placeholder="@Localizer["Username"]"
                               aria-label="Username" aria-describedby="basic-addon1" @bind-Value="_model.UserName" />
                    <span class="MyRightFont LoginInputIcon"><i class="fa fa-user icon"></i></span>

                    <ValidationMessage For="@(()=>_model.UserName)" />
                </div>
            </div>
            <div class="LoginForm">
                <div class="validate-input LoginInput">

                    <InputText type="password" class="form-control MyLeftFont " placeholder="@Localizer["Password"]"
                               aria-label="Username" aria-describedby="basic-addon2" @bind-Value="_model.Password" />
                    <ValidationMessage For="@(()=>_model.Password)" />
                    <span class="  MyRightFont LoginInputIcon"><i class="fa fa-key icon"></i></span>

                </div>
            </div>
            <div class="col-6 mx-auto my-auto">
                <button type="submit" class="btn col-12  rounded-pill LoginSubmit">
                    @Localizer["Enter"]

                </button>
            </div>
        </EditForm>


       </div>
    </div>
  

</div>


<link rel="stylesheet" type="text/css" href="css/login.css">


@code {
    private AuthenticationUserModel _model = new();

    private bool ShowAuthenticationError = false;
    private string authenticationErrorText = "";
    protected async override Task OnInitializedAsync()
    {
        await AuthService.Logout();
    }

    private async Task ExecuteLogin()
    {
        ShowAuthenticationError = false;
        var result = await AuthService.LoginTask(_model);


        if (result.IsSuccess && result.access_token != default)
        {
            NavManager.NavigateTo("/UserPanel");
        }
        else
        {
            authenticationErrorText = result.Error;
            ShowAuthenticationError = true;

        }
    }
}
